/*

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.scss using gulp dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */
@import 'vars.scss';
@import 'components/global.scss';
@import 'components/ghost.scss';
@import 'components/lists.scss';
@import 'components/grid.scss';
@import 'components/tables.scss';
@import 'components/forms.scss';
@import 'components/buttons.scss';
@import 'components/actions.scss';
@import 'components/hamburger.scss';
@import 'components/animations.scss';
@import 'components/prism.scss';

/* Main - Theme styles
/* ---------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: #cbeafb;
}

body {
  overflow-x: hidden;
  font-family: $font-sans-serif;
  background-color: $color-bg;
  color: $color-body-font;
  font-size: 1rem;
  transition: background 0.3s ease-out;
  transition-delay: 0.25;
}

main {
  min-height: 100vh;
  border-left: 1px solid $color-body-font;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding: 0 1rem;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
}

.hidden {
  visibility: hidden;
  position: absolute;
  text-indent: -9999px;
}

/* Layout
/* ---------------------------------------------------------- */

.site-wrapper {
  padding: 0 7.5%;
  min-height: 100vh;
}

@media (max-width: 850px) {
  .site-wrapper {
    padding: 0 10%;
  }
}

.page-head {
  padding: 15vw 0 10vw;
}

.error-head {
  height: 75vh;
}

.error-head h1 {
  margin: 0;
  font-size: 7rem;
  line-height: 1.1em;
  font-weight: $font-heavy;
  letter-spacing: 10px;
}

.error-head p {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: color($color-base l(+50%));
}

.error-link {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-decoration: underline;
}

.page-head-title {
  margin: 0;
  font-size: 3rem;
  color: $color-body-font;
}

@media (max-width: 500px) {
  .page-head-title {
    font-size: 2rem;
  }
}

.page-head-description {
  margin: 1.5rem 0;
  font-size: 1.375rem;
  line-height: 1.35em;
  max-width: 560px;
}

.site-foot {
  margin: 3vw 0 1vw;
  text-align: center;
  color: color(#{$color-border} l(-20%));
  font-size: 1.4rem;
}

.site-foot a {
  color: $color-body-font;
}

/* Site Navigation
/* ---------------------------------------------------------- */

.site-head {
  position: relative;
  z-index: 300;
  margin-top: -10px;
  font-size: 1.35rem;
}

.site-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-head-left {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  margin-right: 10px;
  white-space: nowrap;
}

.nav {
  display: flex;
  margin: 0 0 0 -12px;
  padding: 0;
  list-style: none;
}

.site-head li {
  display: block;
  margin: 0;
  padding: 0;
}

.site-head-left a,
.site-head-right a {
  display: block;
  margin: 0;
  padding: 10px 12px;
  color: $color-body-font;
  font-weight: 600;
  opacity: 0.6;
}

.nav-current a,
.site-head a:hover {
  text-decoration: none;
  opacity: 1;
}

.site-head-center {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.site-head-logo {
  flex-shrink: 0;
  display: block;
  padding: 10px;
  color: $color-body-font;
  font-size: 2.1rem;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.site-head-logo:hover {
  text-decoration: none;
}

.site-head-logo img {
  display: block;
  margin-top: 2px;
  width: auto;
  height: 28px;
}

.site-head-right {
  position: relative;
  z-index: 100;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.social-links {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.subscribe-button {
  display: block;
  padding: 4px 10px;
  border: $color-base 1px solid;
  color: $color-base;
  font-size: 1.2rem;
  line-height: 1em;
  border-radius: 10px;
  opacity: 0.8;
}

.subscribe-button:hover {
  text-decoration: none;
  opacity: 1;
}

.rss-button {
  opacity: 0.4;
}

.rss-button:hover {
  opacity: 1;
}

.rss-button svg {
  margin-bottom: 1px;
  height: 2.1rem;
  fill: $color-base;
}


/* Post Content
/* ---------------------------------------------------------- */

.post-content {
  max-width: 720px;
  margin: 0 auto;
  padding: 6vw 0;
}

.post-content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-content-title {
  margin: 0 0 3vw;
  color: $color-body-font;
  text-align: center;
}

.post-content-excerpt {
  margin: -2vw 0 3vw;
  font-size: 1.375rem;
  line-height: 1.6em;
  color: $color-body-font;
  text-align: center;
  opacity: 0.7;
}
@media (max-width: 500px) {
  .post-content-excerpt {
    font-size: 1.25rem;
  }
}

.post-content-image {
  margin: 4vw 0;
  position: relative;
  width: 75vw;
  min-width: 100%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}

.post-content-body {
  font-size: 1.25rem;
  line-height: 1.65em;
}
@media (max-width: 500px) {
  .post-content-body {
    font-size: 1rem;
  }
}

.post-content-body h1,
.post-content-body h2,
.post-content-body h3,
.post-content-body h4,
.post-content-body h5,
.post-content-body h6 {
  color: $color-body-font;
}

.post-content-body li {
  word-break: break-word;
}

.post-content-body li p {
  margin: 0;
}

.post-content-body iframe {
  margin: 0 auto !important;
}

.post-content-body blockquote {
  margin: 0 0 1.5em;
  padding: 0 1.5em;
  /* border-left: #3eb0ef 3px solid; */
  border-left: $color-primary 3px solid;
}

.post-content-body blockquote p {
  margin: 0 0 1em 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: italic;
}

.post-content-body blockquote p:last-child {
  margin-bottom: 0;
}

.post-content-body code {
  padding: 0 5px 2px;
  font-size: 0.8em;
  line-height: 1em;
  font-weight: 400 !important;
  /* background: $color-bg; */
  background: var($color-bg-dark) !important;
  border-radius: 3px !important;
}

.post-content-body p code {
  word-break: break-all;
}

.post-content-body pre {
  overflow-x: auto;
  margin: 1.5em 0 3em;
  padding: 20px;
  max-width: 100%;
  border: $color-bg-bright 1px solid !important;
  color: $color-body-font;
  font-size: 1.4rem;
  line-height: 1.5em;
  background: $color-bg-dark !important;
  border-radius: 5px;
}

.post-content-body pre code {
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
}

.post-content-body pre code :not(span) {
  color: inherit;
}

.post-content-body .fluid-width-video-wrapper {
  margin: 1.5em 0 3em;
}

.post-content-body hr {
  margin: 4vw 0;
}

.post-content-body hr:after {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  display: block;
  margin-left: -10px;
  width: 1px;
  height: 30px;
  background: $color-body-font;
  box-shadow: $color-body-font 0 0 5px;
  transform: rotate(45deg);
  @include light-mode {
    background: $color-body-font-light;
    box-shadow: $color-body-font-light 0 0 5px;
  }
}

.footnotes-sep {
  margin-bottom: 30px;
}

.footnotes {
  font-size: 1.5rem;
}

.footnotes p {
  margin: 0;
}

.footnote-backref {
  color: $color-primary !important;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none !important;
  box-shadow: none !important;
}

/* Author Archive
/* ---------------------------------------------------------- */

.author-meta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: color($color-border l(-20%));
}

.author-links {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.author-links a {
  display: block;
  margin: 0;
  padding: 0 12px;
  color: $color-base;
  opacity: 0.4;
}

.author-links a:hover {
  text-decoration: none;
  opacity: 1;
}

.author-links .divider {
  display: inline-block;
  margin: 0 3px;
}

/* Page Template
/* ---------------------------------------------------------- */

.page-template .post-content-body h1,
.page-template .post-content-body h2,
.page-template .post-content-body h3 {
  text-align: center;
}

/* Tag Pages
/* ---------------------------------------------------------- */

.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 720px;
  margin: 0 auto;
}

.tag-item {
  flex: 1 1 auto;
  margin: 0.7vw;
  padding: 0.5vw;
  background-color: $color-bg-bright;
  color: $color-sub-base;
  font-size: 2rem;
  line-height: 1em;
  white-space: nowrap;
  @include light-mode {
    background-color: $color-bg-bright-light;
    color: $color-sub-base-light;
  }
}

.tag-item:hover {
  color: $color-bg-bright;
  background-color: $color-sub-base;
  transition: all 0.4s ease-out;
  @include light-mode {
    color: $color-bg-bright-light;
    background-color: $color-sub-base-light;
  }
}

@media (max-width: 700px) {
  .tag-item {
    font-size: 2rem;
    margin: 1.4vw;
    padding: 1vw;
  }
}

.tag-page-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6vw 0;
  max-width: 70%;
  margin: auto;
  text-align: center;
}

/* Navigation
/* ---------------------------------------------------------- */

.links {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4.5px;
  background-color: inherit;
  backface-visibility: hidden;
  z-index: 3;
  position: relative;
  padding-bottom: 2rem;

  @media (min-width: 800px) {
    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 16px);
      left: 50%;
      width: 100vw;
      height: 1px;
      background-color: #344678;
      transform: translatex(-50%);
      z-index: -1;
    }
  }

  a {
    width: 100%;
    padding: 1rem;
    text-align: left;
    color: #344678;
    font-size: 1.125rem;
    cursor: pointer;
    position: relative;
    border: none;
    background-color: $color-bg;
    transition: all ease 400ms;
    text-decoration: none;

    &:hover {
      background-color: $color-body-font;
      color: #ffffff;
      text-decoration: none;

      svg {
        opacity: 1;
        transform: translate(4px, -12px);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      border: #344678 1px solid;
      backface-visibility: hidden;
    }

    svg {
      position: absolute;
      right: 1.5rem;
      opacity: 0;
      top: 1.5rem;
      width: 28px;
      height: 28px;
      transition: transform ease 400ms;
    }
  }
}

/* Navigation
/* ---------------------------------------------------------- */

.social-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  gap: 1rem;

  svg {
    stroke: $color-primary;
  }
}
